<mat-toolbar>
    <span>letterboxd</span>
</mat-toolbar>
<div class="row h100 col-12">


    <div class="col-8 scrollcol">

        <div class="row">
            <div class="col-6">
                <h1> Film med flest likes denne uge </h1>

                <mat-list role="list" style="background-color: #343a40;">
                    <mat-list-item *ngFor="let movie of topMoviesWeek" role="listitem">{{movie}}</mat-list-item>
                </mat-list>
            </div>

            <div class="col-6">
                <h1> Brugere med flest følgere </h1>

                <mat-list role="list" style="background-color: #343a40;">
                    <mat-list-item *ngFor="let user of topFollowers" role="listitem">{{user}}</mat-list-item>
                </mat-list>
            </div>
        </div>

        <h1>
            FILM
        </h1>

        <table mat-table [dataSource]="movieSource" style=" width: 100%;" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Name Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="tagline">
                <th mat-header-cell *matHeaderCellDef> tagline </th>
                <td mat-cell *matCellDef="let element"> {{element.tagline}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="released">
                <th mat-header-cell *matHeaderCellDef> released </th>
                <td mat-cell *matCellDef="let element"> {{element.released}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="like">
                <th mat-header-cell *matHeaderCellDef> like </th>
                <td mat-cell *matCellDef="let element"> <button *ngIf="loggedIn" mat-raised-button color="primary"
                        (click)="likeMovie(element.title)">like</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>


    <div class="col-4" *ngIf="!loggedIn">
        <h1>
            Login
        </h1>

        <form class="example-form" style="background-color: #343a40;">





            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Brugernavn</mat-label>
                <input type="text" matInput #email [formControl]="emailFormControl" placeholder="brugernavn">
                <mat-error *ngIf="!emailFormControl.hasError('Skal udfyldes')">
                    Skriv venligst en gyldig email adresse.
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email er <strong>krævet</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput #password [formControl]="nameFormControl" placeholder="password">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    password er <strong>krævet</strong>
                </mat-error>
            </mat-form-field>


            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <button mat-raised-button color="primary" type="submit"
                        (click)="sendRequest(email.value, password.value)">Log ind</button>
                </div>
            </div>
        </form>



    </div>
    <div class="col-4" *ngIf="loggedIn">
        <h1>
            Velkommen: {{user?.sirname}} {{user?.lastname}}
        </h1>

        <div *ngIf="loggedIn && user" style="background-color: #343a40; color: whitesmoke; padding: 20 px;">
            <p>Brugernavn: {{user.username}}</p>
            <p>Rolle: {{user.role_type}}</p>

            <p *ngIf="user.role_type == 'premium'"> Premium slut dato: {{getDate(user.premium_end_date)}} </p>
            <p *ngIf="user.role_type == 'premium'"> Premium tier: {{user.subsciption_tier}} </p>

        </div>

        <button mat-raised-button color="primary" (click)="logout()">Log ud</button>

        <div *ngIf="user?.role_type === 'admin'">
            <h1>
                Admin Logs:
            </h1>

            <div *ngIf="logs" style="background-color: #343a40; color: whitesmoke; padding: 20 px;">
                <p *ngFor="let log of logs"> {{log}} </p>


            </div>
        </div>

        <div *ngIf="movieRec" style="background-color: #343a40; color: whitesmoke; padding: 20 px;">
            <h1>Anbefalinger:</h1>

            <p *ngFor="let movie of movieRec"> {{movie}} </p>
        </div>
    </div>

</div>