/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: bisque;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 8px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 8px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;  
      }
